body {
  margin-top: 30px;
}

h1 {
  font-size: 60px;
  text-align: center;
  font-family: poppins, sans-serif;
  font-weight: 300;
  font-style: medium;
  color: rgb(1, 50, 141);
  margin-top: 40px;
  margin-bottom: 0%;
  padding: 0 auto;
}

h2 {
  font-size: 60px;
  text-align: center;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: bold;
  color: rgb(1, 50, 141);
  padding: 0 auto;
  margin: 0 auto;
}

.image {
  display: block;
  margin: 0 auto;
  width: 20%;
}

.location {
  display: left;
  margin-left: 20px;
  width: 3%;
}

.city {
  margin-left: 15px;
}

.row {
  text-align: center;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(100, 100, 100);
}

.line {
  text-align: center;
  font-family: poppins, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search {
  display: left;
  margin-left: 5px;
  width: 3%;
}

p {
  text-align: center;
  font-family: poppins, sans-serif;
  font-weight: 500;
  font-style: normal;
  color: rgb(1, 50, 141);
}

.weather {
  font-size: 12px;
  font-family: monospace;
  font-weight: 500;
  font-style: light;
  color: grey;
}

.pics {
  display: block;
  margin: auto;
  width: 30%;
}

li {
  list-style-type: none;
  font-family: poppins, sans-serif;
  color: rgb(1, 50, 141);
  text-transform: capitalize;
}

.units {
  font-size: 20px;
}

.weather-app {
  max-width: 600px;
  border: 2px solid;
  border-radius: 3px;
  border-color: orangered;
  margin: 0 auto;
  margin-top: 30px;
  padding: 35px;
  background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.open-source {
  font-size: 13px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-family: sans-serif;
}

.temperature {
  font-size: 80px;
  list-style-type: none;
  font-family: poppins, sans-serif;
  color: rgb(1, 50, 141);
  text-transform: capitalize;
  text-align: center;
  font-weight: 200px;
}

.weather-icon img {
  vertical-align: middle;
  border-style: none;
}

.description {
  list-style-type: none;
  font-family: poppins, sans-serif;
  color: rgb(1, 50, 141);
  text-transform: capitalize;
  text-align: center;
}
img {
  display: block;
  border-style: none;
}
